/* Estilizando meu site */

.description{
    margin: 10px;
}

.header{
    font-size: 20px;
    text-align: center;
    background-color: brown;
}
nav {
    text-align: left;
    background-color: black;
}


body{
    background-color: white;
}





img {
    width: 300px;
    padding: 5px;
    background-color: black;
}
